<div class="dashboard-wrapper">
  <div class="dashboard-container">
    <div class="portfolio-stats dashboard-field">

      <div class="portfolio-change">
        <div class="title">
          <div class="title-icon">
            <%= image_tag 'title_icon', class: "icon" %>
          </div>
          <div class="title-header">
            <h2>Portfolio Change</h2>
          </div>
        </div>
        <div class="change-content">

        </div>
      </div>

      <div class="portfolio-value">
        <div class="title">
          <div class="title-icon">
            <%= image_tag 'title_icon', class: "icon" %>
          </div>
          <div class="title-header">
            <h2>Portfolio Value</h2>
          </div>
        </div>
        <div class="value-content">

        </div>
      </div>

    </div>
  </div>
</div>
