// Define variables for your color scheme

// For example:
$red: #CA6868;
$blue: #4267B2;
$yellow: #FDB631;
$orange: #E67E22;
$green: #60CD44;
$header-gray: #454545;
$gray: #919191;
$light-gray: #EAEAEA;
