// Overall page styling
.dashboard-row-wrapper {
  margin: 0;
  background-color: $light-gray;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
}

.dashboard-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1088px;
  margin: 20px 0 0 0;
}

.dashboard-field {
  background-color: white;
  box-shadow: 1px 1px 50px rgba(0,0,0,0.3);
  border-radius: 1px;
}

// Title styling for each box
.title {
  display: flex;
  align-items: center;
  margin: 10px;
}

.title-icon {
  border-bottom: 2px solid $green;
  padding-bottom: 8px;
}

.icon {
  width: 32px;
  height: 28px;
}

.title-header {
  padding-bottom: 8px;
  border-bottom: 2px solid $light-gray;
  margin: 0;
  width: 100%;
  h2 {
    margin: 0;
    padding: 3px 5px 3px 10px;
  }
}

// First box styling
.portfolio-val-change {
  width: 66%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.portfolio-change {
  width: 50%;
  margin: 0px;
}

.change-content {
  height: 200px;
  margin: 10px 0 5px 10px;
  border-right: 1px solid $light-gray;
  padding: 0 10px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.portfolio-image {
  height: 80px;
  width: 80px;
  margin-top: 40px;
}

.launch {
  margin-left: 20px;
}

.positive {
  color: $green;
}

.negative {
  color: $red;
}

.content-headline-figure {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 10px;
}

.change-timescale {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  text-align: right;
  padding: 5px;
  height: 35px;
  h4 {
    padding-right: 15px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #DDDBDB;
  }
}

.selected {
  color: $header-gray;
}

.portfolio-value {
  width: 50%;
  margin: 0px;
}

.value-content {
  height: 200px;
  margin: 10px 10px 5px 0;
  border-left: 1px solid $light-gray;
  padding: 0 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

// Second box styling
.portfolio-stats {
  width: 32%;
}

.stats-content {
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 30px 20px 30px;
}

.stats-entry {
  h3 {
    margin: 10px 0 0 0;
  }
  p {
    font-weight: bold;
    font-size: 12px;
    color: #DDDBDB;
  }
}

.stats-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Third box styling
.portfolio-overview {
  width: 100%;
}

.portfolio-headers {
  border-bottom: 1px solid $light-gray;
  h4 {
    font-size: 16px;
    font-weight: bold;
    color: #919191;
  }
}

.portfolio-crypto {
  border-bottom: 1px solid $light-gray;
  height: 60px;
  // overflow-y: scroll;
  h4 {
    font-size: 16px;
    font-weight: bold;
    color: $header-gray;
  }
}

.portfolio-row {
  display: flex;
  align-items: center;
  margin: 0 25px 0 25px;
  padding: 0 10px 0 10px;
}

.portfolio-rank {
  flex: 1 0 70px;
}

.portfolio-name {
  flex: 0 1 500px;
}

.portfolio-price {
  flex: 1 0 110px;
  text-align: right;
}

.portfolio-value-held {
  flex: 1 0 110px;
  text-align: right;
}

.portfolio-profit-loss {
  flex: 1 0 110px;
  text-align: right;
}

.crypto-rows {
  max-height: 360px;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.crypto-name {
  display: flex;
  align-items: center;
}

.portfolio-icon {
  width: 35px;
  height: 35px;
  margin: 0 15px 0 5px;
}

.crypto-rank {
  padding-left: 10px;
}

.crypto-code {
  font-size: 12px;
  color: #DDDBDB;
}


