// Overall page styling
.dashboard-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}

.dashboard-row-wrapper {
  margin: 0;
  background-color: $light-gray;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dashboard-row-wrapper:first-child {
  margin-top: 30px;
}

.dashboard-row-wrapper:last-child {
  margin-bottom: 30px;
}

.dashboard-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1088px;
  margin: 10px 0 10px 0;
}

.dashboard-field {
  background-color: white;
  // box-shadow: 1px 1px 50px rgba(0,0,0,0.1);
  border-radius: 1px;
}

// Title styling for each box
.title {
  display: flex;
  align-items: center;
  margin: 10px;
}

.title-icon {
  border-bottom: 2px solid $green;
  padding-bottom: 12px;
}

.icon {
  width: 32px;
  height: 28px;
}

.title-header {
  padding-bottom: 12px;
  border-bottom: 2px solid #EAEAEA;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2 {
    margin: 0;
    padding: 3px 5px 3px 10px;
  }
}

// No coins section styling
.no-coins-dashboard {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.no-coins-message {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
}

.sad-croker {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 120px;
  height: 120px;
}

.buy-coins {
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
}

// First box styling
.portfolio-val-change {
  width: 66%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.portfolio-change {
  width: 50%;
  margin: 0px;
}

.change-content {
  height: 200px;
  margin: 10px 0 40px 10px;
  border-right: 1px solid $light-gray;
  padding: 0 10px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.portfolio-image {
  height: 80px;
  width: 80px;
  margin-top: 40px;
}

.launch {
  margin-left: 20px;
}

.positive {
  color: $green;
}

.negative {
  color: $red;
}

.content-headline-figure {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 10px;
}

.change-timescale {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  text-align: right;
  padding: 5px;
  height: 35px;
  h4 {
    padding-right: 15px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #DDDBDB;
  }
}

.selected {
  color: $header-gray;
}

.portfolio-value {
  width: 50%;
  margin: 0px;
}

.value-content {
  height: 200px;
  margin: 10px 10px 5px 0;
  border-left: 1px solid $light-gray;
  padding: 0 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

// Second box styling
.portfolio-stats {
  width: 32%;
}

.stats-content {
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 30px 20px 30px;
}

.stats-entry {
  h3 {
    margin: 10px 0 0 0;
  }
  p {
    font-weight: bold;
    font-size: 12px;
    color: #DDDBDB;
  }
}

.stats-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Third box styling
.portfolio-table {
  width: 100%;
}

.rank-column {
  width: 60px;
  text-align: center;
}

.name-column {
  text-align: left;
  width: 600px;
}

th {
  font-size: 16px;
  font-weight: bold;
  color: #919191;
  padding: 5px 0px 5px 0px;
  border-bottom: 1px solid $light-gray;
  cursor: pointer;
}

thead tr {
  display: block;
  width: 100%;
}

.portfolio-table tbody {
  display: block;
  width: 100%;
  max-height: 360px;
  overflow: auto;
}

.table-body {
  height: 300px;
}

.portfolio-table {
  padding: 0 10px;
}

.price-column {
  width: 140px;
  text-align: right;
}

.value-column {
  width: 140px;
  text-align: right;
}

.profit-column {
  width: 170px;
  text-align: right;
}

td {
  font-size: 16px;
  font-weight: bold;
  color: $header-gray;
  height: 60px;
  h4 {
    font-weight: bold;
  }
}

tr {
  border-bottom: 1px solid $light-gray;
}

tr:last-child {
  border-bottom: none;
}


.end-col {
  padding-right: 20px;
}

.name-col {
  padding-left: 60px;
  width: 600px;
}

.body-rank {
  text-align: center;
  width: 60px;
}

.name-field-table {
  display: flex;
  align-items: center;
}

.body-value {
  text-align: right;
}

.portfolio-overview {
  width: 100%;
}


.portfolio-headers {
  border-bottom: 1px solid $light-gray;
  h4 {
    font-size: 16px;
    font-weight: bold;
    color: #919191;
  }
}

.portfolio-link {
  border-bottom: 1px solid $light-gray;
  margin: 0 0 0 10px;
}

.portfolio-link:hover {
  background-color: #F4F4F4;
}

a:link {
    text-decoration: none;
  }

.portfolio-crypto {
  border-bottom: 1px solid $light-gray;
  height: 60px;
  h4 {
    font-size: 16px;
    font-weight: bold;
    color: $header-gray;
  }
}

.portfolio-crypto:last-child {
  border-bottom: none;
}

.portfolio-row {
  display: flex;
  align-items: center;
  margin: 0 10px 0 10px;
  padding: 0 15px 0 15px;
}

.portfolio-rank {
  flex: 1 0 70px;
}

.portfolio-name {
  flex: 0 1 500px;
}

.portfolio-price {
  flex: 1 0 110px;
  text-align: right;
}

.portfolio-value-held {
  flex: 1 0 110px;
  text-align: right;
}

.portfolio-profit-loss {
  flex: 1 0 110px;
  text-align: right;
}

.crypto-rows {
  max-height: 360px;
  margin: 0;
  padding: 0 10px 0 0;
  overflow: auto;
}

.crypto-name {
  display: flex;
  align-items: center;
}

.portfolio-icon {
  width: 35px;
  height: 35px;
  margin: 0 8px;
}

.crypto-rank {
  padding-left: 0;
}

.crypto-code {
  font-size: 12px;
  color: #DDDBDB;
}

// Fourth box styling
.top-winners-losers {
  width: 40%;
  height: 425px;
}

.winners-losers-cols {
  display: flex;
  align-items: center;
}

.winners-losers-col {
  width: 50%;
}

.winner-loser-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  padding: 5px 20px;
  margin: 10px 0;
  h4 {
    font-size: 16px;
    font-weight: bold;
    color: $header-gray;
    .winner {
      color: $green;
    }
    .loser {
      color: $red;
    }
  }
}

.winner-loser-card:hover {
  background-color: #F4F4F4;
}

.winner-loser-card:last-child {
  margin-bottom: 20px;
}

// Fifth box styling
.crypto-news {
  width: 31%;
  height: 425px;
}

.news-pane {
  overflow: auto;
  max-height: 350px;
}

.news-card {
  margin: 15px;
}

.news-card:hover {
  background-color: #F4F4F4;
}

.news-img {
  width: 30%;
  height: 30%;
}

.news-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: $header-gray;
}

.news-body {
  font-size: 12px;
}

// Sixth box styling
.top-traded-cryptos {
  width: 24%;
  height: 425px;
}

.top-traded-card {
  display: flex;
  align-items: center;
  padding: 15px 30px 15px 30px;
  h4 {
    color: $header-gray;
    font-weight: bold;
  }
}

.top-traded-card:hover {
  background-color: #F4F4F4;
}

.title-header span {
  font-size: 15px;
  color: $gray;
  margin-left: 5px;
  margin-right: 1px;
}

.tooltip-top {
      margin-right: 10px;
}
