.landing-row-wrapper {
  background-color: white;
  width: 100%;
}

.nav-sign-up-btn {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
}

.landing-navbar-font-specs {
  font-weight: 400;
  font-weight: bold;
  font-size: 20px;
}

.landing-navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: 'Lato', 'sans-serif';
  // background-color: #60CD44;
}

.landing-nav-tabs {
  font-size: 17px;
}

.landing-navbar-custom a {
  color: black;
}

.landing-navbar-custom .nav li a:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  background-color: #60CD44;
  color: white;
}

.landing-navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}

@media (min-width: 768px) {
  .landing-navbar-custom {
    padding: 10px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: #60CD44;
    // -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    // -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    // transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
}

.landing-intro {
  padding: 100px 0;
  text-align: center;
  background-color: #60CD44;
  height: 80vh;
  font-size: 40px;
  // display: table;
  // width: 100%;
  // height: auto;
  // background-image: -webkit-linear-gradient(60deg, #60CD44 50%, #EAEAEA 50%);

  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // background-size: cover;
  // -o-background-size: cover;
}

.landing-compo-top-wrapper {
  padding-top: 10px;
}


.landing-compo-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

.landing-compo-container h3 {
  font-size: 15px;
  // padding-top: 10px;
}

.col-icons {
  text-align: center;
  padding: 60px 20px;
  h3 {
  padding: 0 5px;
  }
}

.style_image {
  width: 100px;
  padding-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  // width: 40%;
}


.landing-ending {
  // display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
  // background-color: #60CD44;
  // background-image: -webkit-linear-gradient(-120deg, #60CD44 50%, #EAEAEA 50%);
}


