.landing-row-wrapper {
  background-color: white;
  width: 100%;
}

.nav-sign-up-btn {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  margin-right: 0;
}

.lp-sign-up-btn {
  font-size: 25px;
  font-weight: regular;
  padding: 15px 15px;
  background-color: #60CD45;
  color: white;
  border-radius: 40px;
}

.lp-sign-up-btn:hover {
  background-color: #49AE2F;
  color: white;
}


.landing-navbar-font-specs {
  font-weight: 400;
  font-weight: bold;
  font-size: 20px;
}

.landing-navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: 'Lato', 'sans-serif';
  padding: 0px 40px;
  // background-color: #60CD44;
  // background-image: -webkit-linear-gradient(60deg, #60CD44 50%, #EAEAEA 50%);

}

// @media (min-width: 768px) {
  .landing-navbar-custom {
    padding: 10px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: #60CD44;
    background-image: -webkit-linear-gradient(-120deg, #60CD44 50%, #EAEAEA 50%);

    // -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    // -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    // transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.navbar-brand {
  margin-left: 50px;
}

.landing-nav-tabs {
  font-size: 20px;
}

.landing-navbar-custom a {
  color: black;
}

.landing-navbar-custom .nav li a:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  background-color: #60CD44;
  // color: white;
}

.landing-navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}


.landing-intro {
  padding: 100px 0px 0px 0px;
  text-align: center;
  // background-color: #60CD44;
  // height: 100vh;
  h1 {
    font-size: 40px;
    padding-bottom: 10px;
  }
  p {
    font-size: 35px;
    padding-bottom: 30px;
  }
  // font-size: 40px;
  // display: table;
  // width: 100%;
  // height: auto;
  // background-image: -webkit-linear-gradient(60deg, #60CD44 50%, #EAEAEA 50%);

  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // background-size: cover;
  // -o-background-size: cover;
}

.lp-dashboard-container {
  // background-image: image_tag 'lp-dashboard.png'
  // height: auto;
  padding-top: 30px;
  // text-align: center;
}

.dashboard-lp {
  width: 800px;
  height: auto;
  border: solid 1px #60CD45;
  text-align: center;
}


.landing-section-wrapper {
// padding: 20px 40px;
// margin: 20px;
padding: 20px 40px 0px 40px;
margin: 20px 20px 0px 20px;
}

.landing-compo-main-wrapper {
height: 100vh;
}

.landing-compo-top-wrapper {
  padding-top: 75px;
  padding-bottom: 100px;
}


.landing-compo-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

.landing-compo-top-container h2 {
  font-size: 30px;
  padding-bottom: 20px;
}

.landing-compo-top-container p {
    font-size: 20px;
}
// h3 {
//   font-size: 15px;
//   // padding-top: 10px;
// }

.col-icons {
  text-align: center;
  padding: 60px 20px;
  h3 {
  font-size: 25px;
  max-width: 512px;
  padding: 0px 70px;
  }
}

.style_image {
  width: 100px;
  padding-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  // width: 40%;
}


.landing-ending {
  width: 100%;
  height: 50vh;
  padding: 0px 0px 20px 0px;
  text-align: center;
  h1 {
    font-size: 40px;
    padding-bottom: 30px;
  }
  p {
    font-size: 30px;
    font-weight: light;
    padding-bottom: 30px;
  }
  // background-color: #60CD44;
  // background-image: -webkit-linear-gradient(60deg, #60CD44 50%, #EAEAEA 50%);
}


