
    <div class="landing-wrapper">
      <div class="landing-row-wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                Menu <i class="fa fa-bars"></i>
              </button>
              <a class="navbar-brand page-scroll" href="#page-top">

                <i class=""></i> <span class="light"><%#= image_tag 'logo.png' %>Croker</span>
              </a>
            </div>
            <%#= link_to :root do %>
            <%# image_tag 'logo.png', class: "logo" %>
            <%# end %>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
              <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                  <a href="#page-top"></a>
                </li>
                <li>
                  <a class="page-scroll" href="#about">Why Croker</a>
                </li>
                <li>
                  <a class="page-scroll" href="#download">How it works</a>
                </li>
                <li>
                  <a class="page-scroll" >Login</a>
                </li>
                <li>
                  <a class="page-scroll" >Sign Up</a>
                </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
        </nav>

        <!-- Intro Header -->
        <div class="landing-intro">
          <div class="intro-body">
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <h1 class="brand-heading">Crypto trading made easy</h1>
                  <p class="intro-text">Croker is your <strong>gateway</strong> into the <strong>cryptosphere</strong>.
                    <!-- <br>Created by Start Bootstrap. -->
                  </p>
                  <a href="#" class="btn btn-success buy-coins">Sign Up</a>

                  <!-- <a href="#why_croker" class="btn btn-circle page-scroll"> -->
                    <!-- <i class="fa fa-angle-double-down animated"></i> -->
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- About Section -->
        <!-- <div id="why-croker" class="container content-section text-center"> -->
          <div class="why-croker-wrapper">
            <div class="why-croker-container">
              <h2>Ask yourself...</h2>
              <p>Calling on crypto newbies and veterans alike</p>
            </div>
          </div>

          <div class="why-croker-wrapper">
            <div class="why-croker-container">
             <h3>Are you tired of confusing trading platforms?</h3>
           </div>
           <div class="why-croker-container">
            <h3>hello hello</h3>
          </div>
        </div>

        <!-- Download Section -->
        <div id="how-it-works" class="content-section text-center">
          <div class="download-section">
            <div class="container">
              <div class="col-lg-8 col-lg-offset-2">
                <h2>Download Grayscale</h2>
                <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>
                <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Contact Section -->
        <div id="contact" class="container content-section text-center">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>Contact Start Bootstrap</h2>
              <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
              <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
              </p>
               <!--  <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                  </ul> -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Footer -->
   <!--  <footer>
        <div class="container text-center">
            <p>Copyright &copy; Your Website 2016</p>
        </div>
      </footer> -->


