<div class="navbar-croker">
  <div class="navbar-left">
    <%= image_tag 'logo.png', class: "logo" %>
    <div class="tabs">
      <%= link_to 'Dashboard', dashboard_path, class: 'tab active', style: 'font-size: 20px' %>
      <a href="#"><h2 class="tab">Buy/Sell</h2></a>
    </div>
  </div>
  <div class="navbar-right">
    <div class="btn-sign-up">
      <%= link_to 'Sign Up', new_user_registration_path, class: "sign-up btn btn-success" %>
    </div>
    <div class="btn-login">
      <%= link_to 'Log In', new_user_session_path, class: "login btn" %>
    </div>
    <div class="navbar-settings">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-v"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">My Profile</a>
        <a class="dropdown-item" href="#">Settings</a>
      </div>
    </div>
  </div>
</div>
