<div class="navbar-croker">
  <div class="navbar-left">
    <%= image_tag 'logo', class: "logo" %>
    <div class="tabs">
      <a href="#"><h2 class="tab active">Dashboard</h2></a>
      <a href="#"><h2 class="tab">Buy/Sell</h2></a>
    </div>
  </div>
  <div class="navbar-right">
    <div class="btn-sign-up">
      <a href="#" class="sign-up btn btn-success">Sign Up</a>
    </div>
    <div class="btn-login">
      <a href="#" class="login btn">Login</a>
    </div>
    <div class="navbar-settings">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-v"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">My Profile</a>
        <a class="dropdown-item" href="#">Settings</a>
      </div>
    </div>
  </div>
</div>
