<div class="col-footer">
  <div class="item">© 2018 Croker. All Rights Reserved.</div>
  <div class= "slim-footer-social-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  <div class="item item-right">Made at Le Wagon, Lisbon 🇵🇹</div>
</div>
