
.inputs-wrapper {
  display: flex;
  margin-top: 60px;
  align-items: center;
  justify-content: space-around;
  // padding-right: 50px;
  // padding-left: 50px;
  height: 55px;
  width: 460px;
  margin-left: auto;
  margin-right: auto;
  i {
    padding: 5px;
    font-size: 25px;
  }
}

.form-control:focus {
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(96, 205, 68, 0.6);
}

.btn-max {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  padding: 10px 4px;
  font-weight: bold;
  font-size: 8px;
  cursor: pointer;
  color: rgb(204, 204, 204);
  border: 1px solid rgb(225, 225, 225);
  transition: all 0.15s ease;
}

.btn-max:hover {
  color: rgb(170, 170, 170);
  border-color: rgb(170, 170, 170);
}

.btn-max-left {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  // border-right: none;
}

.btn-max-right {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  // border-left: none;
}

.trade-btn {
  width: 180px;
  font-size: 24px;
  font-weight: bold;
}

.buy-sell-button {
  padding-top: 10px;
  width: 560px;
  height: 81px;
  .btn {
    margin: 0px;
  }
}

.fund-warning {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding-top: 2px;
  background-color: transparent;
  p {
  color: $red;
  }
}

.crypto-warning {
  margin-right: 12px;
  padding-left: 10px;
  height: 44px;
}

.fiat-warning {
  margin-left: 15px;
  padding-left: 10px;
  height: 44px;
}

.trade-warning-message {
  width: 194px;
}


// Here starts CSS for the form inputs

#tradeValueCryptoBuy {
  height: 60px;
  font-size: 20px;
  font-weight: normal;
  border: 0.5px solid $light-gray;
  border-left: none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

#tradeValueFiatBuy {
  height: 60px;
  font-size: 20px;
  font-weight: normal;
  border: 0.5px solid $light-gray;
  border-right: none;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}


#tradeValueCryptoSell {
  height: 60px;
  font-size: 20px;
  font-weight: normal;
  // margin: 0;
  border: 0.5px solid $light-gray;
}

#tradeValueFiatSell {
  height: 60px;
  font-size: 20px;
  font-weight: normal;
  // margin: 0;
  border: 0.5px solid $light-gray;
}
