.facebook-button {
  border-bottom: 1px solid #EAEAEA;
  padding: 10px 0px;
  margin-bottom: 10px;
  .facebook-login-button {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 3px;
    align-items: center;
    p {
      font-size: 15px;
      color: white;
      margin-left: 15px;
      margin-bottom: 0px;
      padding-bottom: 0px;
    }
  }
}
