.navbar-croker {
  margin: 0;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.navbar-left {
  display: flex;
  margin: 0;

}

.logo {
  height: 80px;
  width: 80px;
  margin-left: 50px;
  margin-right: 15px;
}

.tabs {
  display: flex;
  align-items: center;
  a {
    text-decoration: none;
  }
}

.tab {
  margin: 0 20px;
  padding: 26px 5px 26px 5px;
  font-weight: normal;
  color: $gray;
}

.tab:hover {
  color: $header-gray;
}

.active {
  font-weight: 900 !important;
  color: $header-gray !important;
  border-bottom: 4px solid $green;
  padding-bottom: 25px !important;
  padding-top: 28px !important;
}

.navbar-right {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.navbar-balances {
  color: #D3D3D3;
  text-align: right;
  margin-right: 20px;
  h4 {
    font-size: 12px !important;
    font-weight: bold !important;
    #available-balance {
      color: $header-gray
    }
    #portfolio-value {
      color: $header-gray
    }
  }
}

.deposit {
  font-size: 17px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  margin-right: 5px;
}

.sign-up {
  font-size: 17px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  margin-right: 20px;
}

.login {
  font-size: 17px;
  padding: 5px 27px;
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 5px;
  color: $green;
  border: 2px solid $green;
}

.login:hover {
  border: 4px solid $green;
  padding: 3px 25px;
  color: $green;
  margin-left: 5px;
}

.navbar-settings i {
  font-size: 24px;
  color: #b7b7b7;
}
