.login-flex {
  display: flex;
  justify-content: space-around;
}

.payment-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.login-wrapper {
  margin-top: 30px;
  background-color: #ffffff;
  width: 350px;
  padding: 30px;
  padding: 0px 50px;
}

.btn-login {
width: 100%;
margin-bottom: 20px;
}

#user_remember_me {
  margin-right: 5px;
}
