.login-flex {
  display: flex;
  justify-content: space-around;
}

.payment-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.login-wrapper {
  margin-top: 30px;
  background-color: #ffffff;
  width: 350px;
  padding: 30px;
}

.btn-login {
width: 100%;
}

#user_remember_me {
  margin-right: 5px;
}

.facebook-button {
  border-bottom: 1px solid #EAEAEA;
  padding: 20px;
}
