<!--   <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script> -->


<div id="chart-container" data-historical-prices="<%= @data.to_json %>" style="height: 100%px; width: 600px;"></div>
<div class="time-periods">
  <h4 id="one-day" class="btn btn-success time-button">1D</h4>
  <h4 id="one-week" class="btn btn-success time-button">1W</h4>
  <h4 id="one-month" class="btn btn-success time-button">1M</h4>
  <h4 id="one-year" class="btn btn-success time-button">1Y</h4>
</div>

