  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>

  <div id="container" style="height: 400px;"></div>
<!--   <div class="timescales">
    <button class="btn btn-success">1D</button>
    <button class="btn btn-success">1W</button>
    <button class="btn btn-success">1M</button>
    <button class="btn btn-success">1Y</button>
    <button class="btn btn-success">All</button>
  </div>
 -->
  <script>

    buildCharts();
  //   Highcharts.chart('container', {

  //   chart: {
  //     type: 'area'
  //   },

  //   title: {
  //     text: ''
  //   },

  //   xAxis: {
  //     visible : false,
  //     type: 'datetime',
  //     labels: {
  //       format: '{value:%Y-%b-%e}'
  //     },
  //   },

  //   yAxis: {
  //     visible : false
  //   },

  //   tooltip: {
  //     xDateFormat: '%Y-%m-%d',
  //     pointFormat: 'USD{point.y}',
  //     shared: true
  //   },

  //   legend: {
  //     enabled: false
  //   },
  //   series: [{
  //     name : "|",
  //     data: <%#= @data %>,
  //     lineColor: '#60cd44',
  //     color: '#60cd44',
  //     fillOpacity: 0.5,
  //     marker: {
  //       enabled: false
  //     },
  //     threshold: null
  //   }]

  // });
  </script>
